<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>课程信息</title>
    <script src="js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <script src="js/classInfo.js" type="text/javascript" charset="utf-8"></script>
    <link href="../Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="classInfo.css" rel="stylesheet" type="text/css" />
</head>

<body data-spy="scroll" data-target="#myScrollspy">
<div class="top">
    <div class="navbar-header">
        <a class="navbar-brand disabled" style="font-size:20px;color:black">算法分析与设计</a>
    </div>
    <div class="navbar-collapse collapse" role="navigation">
       <ul class="nav navbar-nav nav-pills">
           <li class="dropdown">
               <a href="classInfo.html" class="dropdown-toggle" data-toggle="dropdown" style="font-size:17px;color:black">
                   课程信息
                   <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   <li><a href="#classInfo-1">课程简介</a></li>
                   <li class="divider"></li>
                   <li><a href="#classInfo-2">特色创新</a></li>
                   <li class="divider"></li>
                   <li><a href="#classInfo-3">课程大纲</a></li>
                   <li class="divider"></li>
                   <li><a href="#classInfo-4">教学日历</a></li>
                   <li class="divider"></li>
                   <li><a href="#classInfo-5">课程考评</a></li>
               </ul>
           </li>
           <li class="dropdown">
               <a href="teaching.html" class="dropdown-toggle" data-toggle="dropdown" style="font-size:17px;color:black">
                   教学资源
                   <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   <li><a href="teaching.html#teaching-1">课程负责人</a></li>
                   <li class="divider"></li>
                   <li><a href="teaching.html#teaching-2">教师团队</a></li>
                   <li class="divider"></li>
                   <li><a href="teaching.html#teaching-3">教学课件</a></li>
                   <li class="divider"></li>
                   <li><a href="teaching.html#teaching-4">电子教材</a></li>
               </ul>
           </li>
           <li class="dropdown">
               <a href="experiment.html" class="dropdown-toggle" data-toggle="dropdown" style="font-size:17px;color:black">
                   上机实验
                   <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   <li><a href="experiment.html#experiment-1">实验信息</a></li>
                   <li class="divider"></li>
                   <li><a href="experiment.html#experiment-2">实验指导书</a></li>
                   <li class="divider"></li>
                   <li><a href="experiment.html#experiment-3">实验报告</a></li>
               </ul>
           </li>
           <li class="dropdown">
               <a href="communicate.html" class="dropdown-toggle" data-toggle="dropdown" style="font-size:17px;color:black">
                   师生互动
                   <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   <li><a href="communicate.html#comm-1">作业习题</a></li>
                   <li class="divider"></li>
                   <li><a href="communicate.html#comm-2">学生作品</a></li>
                   <li class="divider"></li>
                   <li><a href="communicate.html#comm-3">课程讨论</a></li>
               </ul>
           </li>
           <li class="dropdown">
               <a href="link.html" class="dropdown-toggle" data-toggle="dropdown" style="font-size:17px;color:black">
                   相关链接
                   <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   <li><a href="link.html#link-1">比赛信息</a></li>
                   <li class="divider"></li>
                   <li><a href="link.html#link-2">网站链接</a></li>
               </ul>
           </li>
           <li class="dropdown">
               <a href="homepage.html" style="font-size:17px;color:black"><span class="glyphicon glyphicon-home">返回首页</span></a>
           </li>
           <li class="dropdown">
               <a href="login.html" style="font-size:17px;color:black"><span class="glyphicon glyphicon-log-in">登录</span></a>
           </li>
       </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                <li class="active"><a href="#classInfo-1">课程简介</a></li>
                <li><a href="#classInfo-2">特色创新</a></li>
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapseOne">课程大纲</a>
                            <!--<script type="text/javascript">
                            
                            </script>-->
                        </div>
                        <div id="collapseOne" class="panel-collapse  collapse">
                            <div class="panel-body">
                                <ul class="menu">
                                    <li style="list-style-type:none;">
                                        <div class="hidemenu">
                                            <a href="#classGuide-1">计算机专业</a>
                                        </div>    
                                    </li>
                                    <li style="list-style-type:none;">
                                        <div class="hidemenu">
                                            <a href="#classGuide-2">计算机卓越专业</a>
                                        </div>    
                                    </li>
                                    <li style="list-style-type:none;">
                                        <div class="hidemenu">
                                            <a href="#classGuide-3">物联网专业</a>
                                        </div>
                                    </li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#classInfo-4">教学日历</a></li>
                <li><a href="#classInfo-5">课程考评</a></li>
            </ul>
        </div>
        <div class="col-xs-10">
            <h2 id="classInfo-1">课程简介</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计算机算法是计算机科学与技术的核心，几乎涉及计算机学科的每一项新的成就都与算法密切相关。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《算法设计与分析》课程是关于算法的方法论，是计算机软件设计的基础。通过学习该课程，可以掌握算法设计、分析与证明的常用方法，培养算法设计与证明、复杂性分析以及相应的解决问题的综合素质和能力，因此，该课程对于培养高质量计算机人才所必需的基本理论与知识、抽象思维能力、逻辑思维能力以及灵活运用算法解决问题的能力都有极大的帮助，该课程很好地体现了计算机科学的理论、抽象和设计三大特点，对于未来从事计算机系统结构、系统软件以及应用软件研究与开发的专业人员是非常重要和必不可少的。计算机算法是计算机科学与技术的核心，几乎涉及计算机学科的每一项新的成就都与算法密切相关。《算法设计与分析》课程是关于算法的方法论，是计算机软件设计的基础。通过学习该课程，可以掌握算法设计、分析与证明的常用方法，培养算法设计与证明、复杂性分析以及相应的解决问题的综合素质和能力，因此，该课程对于培养高质量计算机人才所必需的基本理论与知识、抽象思维能力、逻辑思维能力以及灵活运用算法解决问题的能力都有极大的帮助，该课程很好地体现了计算机科学的理论、抽象和设计三大特点，对于未来从事计算机系统结构、系统软件以及应用软件研究与开发的专业人员是非常重要和必不可少的。</p>
            <hr>
            <h2 id="classInfo-2">特色创新</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本课程自开设以来，通过各位任课教师的不断摸索，总结以及与兄弟院校的交流、学习，逐渐形成了自己的特色，主要包括如下几点：<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)不断更新教学内容，及时反映算法设计与分析技术的最新发展。以学习、研究学科前沿课题作为教师队伍建设的主要内容，不断提高教学水平，使教学更具针对性。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)将课内教学与课外自主学习相结合，课堂上积极开展师生互动，以点带面；课外辅以拓展性学习，努力探索研究型教学模式。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3)重视实践教学环节，以两个综合设计型实验带动课程的学习，促进学生有针对性地、自主地学习算法的理论知识，有效地提高学生学习和应用知识的能力与创新意识。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4)运用现代教育技术，进行教学方法和手段的改革，不断提高教学质量。进行了大量卓有成效的探索与实践。完成了包括教材、配套课件、授课电子教案等多种媒体构成的立体化教材，为学生提供了良好的多媒体学习环境和丰富的教学资源。</p>
            <hr>
            <h2 id="classInfo-3">课程大纲</h2>
            <h3 id="classGuide-1">
                计算机专业课程大纲
                <button type="button" id="cs" class="btn btn-success download" onclick="window.location.href = '../../Docs/download/计算机专业-高曙-《算法设计与分析A》课程教学大纲.docx'">下载</button>
            </h3>
            <iframe src="../Docs/计算机专业教学大纲.htm" frameborder="0"></iframe>
            <hr>
            <h3 id="classGuide-2">
                计算机卓越专业课程大纲
                <button type="button" class="btn btn-success download" onclick="window.location.href = '../../Docs/download/计算机卓越专业-高曙-《算法设计与分析A》课程教学大纲.docx'">下载</button>
            </h3>
            <iframe src="../Docs/计算机卓越专业教学大纲.htm" frameborder="0"></iframe>
            <hr>
            <h3 id="classGuide-3">
                物联网专业课程大纲
                <button type="button" class="btn btn-success download" onclick="window.location.href = '../../Docs/download/物联网专业-高曙-《算法设计与分析A》课程教学大纲.docx'">下载</button>
            </h3>
            <iframe src="../Docs/物联网专业教学大纲.htm" frameborder="0"></iframe>
            <hr>
            <h2 id="classInfo-4">
                教学日历
                <!--<iframe name="download" src="../Docs/教学日历.htm" width="1000" height="1000"></iframe>-->
                <!--<input type="button" class="btn btn-success download" value="下载" onclick="window.open('../../Docs/download/教学日历(算法设计与分析A).xls', 'download')">-->
                <button type="button" class="btn btn-success download" onclick="window.location.href = '../../Docs/download/教学日历(算法设计与分析A).xls'">下载</button>
            </h2>
            <iframe src="../Docs/教学日历.htm" frameborder="0"></iframe>
            <hr>
            <h2 id="classInfo-5">课程考评</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;课程考核方式为笔试，课程成绩由平时成绩30%、笔试成绩70%构成。其中闭卷考试的内容将涵盖教学内容的重点部分，并考查学生运用所学知识解决实际问题的能力。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;笔试考核的内容为：<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）	算法设计与分析的基本概念和原理：占试卷分数的40%。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）	算法的设计：占试卷分数的30%。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）	算法的分析：占试卷分数的30%。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;平时考核的内容为：<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）	课内实验：占平时成绩的40%。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）	出勤率、课内表现：占平时成绩的20%。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）	习题成绩：占平时成绩的40%。</p>
            <hr>
        </div>
    </div>
</div>

</body>
</html>