<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>忘记密码-算法分析与设计精品课网站</title>
    <link href="forgetpwd.css" rel="stylesheet" type="text/css" />
    <link href="../Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <script src="js/Forgetpwdjavascript.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="word">
    <p style="font-size:30px">丰富的学习资源，及时的互动交流</p>
    <p><span style="font-size:27px">培养</span><span style="font-size:40px"><strong>自主学习</strong></span><span style="font-size:27px">的习惯</span></p>
</div>
<div class="forgetpwd">
    <form class="form-horizontal" role="form">
        <div class="text">
            <p style="font-size:17px">请输入您的电子邮箱和手机号进行验证</p>
        </div>
        <div class="text">
            <input type="text" class="form-control" id="username" placeholder="请输入电子邮箱">
        </div>
        <div class="text">
            <input type="text" class="form-control" id="password" placeholder="请输入手机号">
        </div>
        <button type="button" class="btn btn-success" id="submitBtn">确定</button>
        <div class="empty"></div>
    </form>
</div>   
</body>
</html>