<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录-算法分析与设计精品课网站</title>
    <script src="js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <script src="js/login.js" type="text/javascript" charset="utf-8"></script>
    <link href="login.css" rel="stylesheet" type="text/css" />
    <link href="../Bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="word">
        <p style="font-size:30px">丰富的学习资源，及时的互动交流</p>
        <p><span style="font-size:27px">培养</span><span style="font-size:40px"><strong>自主学习</strong></span><span style="font-size:27px">的习惯</span></p>
    </div>
    <div class="loginbox">
        <form class="form-horizontal" role="form">
            <div class="text">
                <input type="text" class="form-control" id="username" onblur="GetPwdAndChk()" placeholder="请输入用户名">
            </div>
            <div class="text">
                <input type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <div class="checkbox" id="check">
                <label>
                    <input type="checkbox"> 请记住我
                </label>
                <button type="button" class="btn btn-success" id="submitBtn" onclick="SetPwdAndChk()">确定</button>
            </div>
            <div class="loginlink">
                <a class="to_register" href="register.html" style="color:black">还没注册？去注册</a>
                <a class="forgetpwd" href="forgetpwd.html" style="color:black">忘记密码？</a>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        window.onload = function onLoginLoaded() {
            if (isPostBack == "False") {
                GetLastUser();
            }
        }

        function GetLastUser() {
            var id = "49BAC005-7D5B-4231-8CEA-16939BEACD67";//GUID标识符
            var user = GetCookie(id);
            if (user != null) {
                document.getElementById('username').value = user;
            } else {
                document.getElementById('username').value = "admin";
            }
            GetPwdAndChk();
        }
        //点击登录时触发客户端事件

        function SetPwdAndChk() {
            //取用户名
            var user = document.getElementById('username').value;
            //将最后一个用户信息写入到Cookie
            SetLastUser(user);
            //如果记住密码选项被选中
            if (document.getElementById('check').checked == true) {
                //取密码值
                var pwd = document.getElementById('password').value;
                var expdate = new Date();
                expdate.setTime(expdate.getTime() + 14 * (24 * 60 * 60 * 1000));
                //将用户名和密码写入到Cookie
                SetCookie(user, pwd, expdate);
            } else {
                //如果没有选中记住密码,则立即过期
                ResetCookie();
            }
        }

        function SetLastUser(user) {
            var id = "49BAC005-7D5B-4231-8CEA-16939BEACD67";
            var expdate = new Date();
            //当前时间加上两周的时间
            expdate.setTime(expdate.getTime() + 14 * (24 * 60 * 60 * 1000));
            SetCookie(id, user, expdate);
        }
        //用户名失去焦点时调用该方法

        function GetPwdAndChk() {
            var user = document.getElementById('username').value;
            var pwd = GetCookie(user);
            if (pwd != null) {
                document.getElementById('check').checked = true;
                document.getElementById('password').value = pwd;
            } else {
                document.getElementById('check').checked = false;
                document.getElementById('password').value = "";
            }
        }
        //取Cookie的值

        function GetCookie(name) {
            var arg = name + "=";
            var alen = arg.length;
            var clen = document.cookie.length;
            var i = 0;
            while (i < clen) {
                var j = i + alen;
                //alert(j);
                if (document.cookie.substring(i, j) == arg) return getCookieVal(j);
                i = document.cookie.indexOf(" ", i) + 1;
                if (i == 0) break;
            }
            return null;
        }
        var isPostBack = "<%= IsPostBack %>";

        function getCookieVal(offset) {
            var endstr = document.cookie.indexOf(";", offset);
            if (endstr == -1) endstr = document.cookie.length;
            return unescape(document.cookie.substring(offset, endstr));
        }
        //写入到Cookie

        function SetCookie(name, value, expires) {
            var argv = SetCookie.arguments;
            //本例中length = 3
            var argc = SetCookie.arguments.length;
            var expires = (argc > 2) ? argv[2] : null;
            var path = (argc > 3) ? argv[3] : null;
            var domain = (argc > 4) ? argv[4] : null;
            var secure = (argc > 5) ? argv[5] : false;
            document.cookie = name + "=" + escape(value) + ((expires == null) ? "" : ("; expires=" + expires.toGMTString())) + ((path == null) ? "" : ("; path=" + path)) + ((domain == null) ? "" : ("; domain=" + domain)) + ((secure == true) ? "; secure" : "");
        }

        function ResetCookie() {
            var user = document.getElementById('username').value;
            var expdate = new Date();
            SetCookie(user, null, expdate);
        }
    </script>

    <!--<script>
        $(".loginbox").focus();
        $(".loginbox").attr("tabindex", 1).keydown(function (e) {
            if (e.keyCode == 13) {
                $(e.currentTarget).find('#login').eq(0).trigger('click');
            }
        })
    </script>-->
</body>

</html>